services:
  registry:
    image: eclipsebasyx/aas-registry:1.3.0
    ports:
        - 8082:4000
    environment:
        - basyxregistry_registry_backend=InMemory
        - basyxcontext_contextpath=/registry
        - basyxcontext_contextport=4000
        - basyxcontext_accesscontrolalloworigin=*
    container_name: simple-deployment-registry

  aas:
    image: eclipsebasyx/aas-server:1.3.0
    container_name: simple-deployment-aas
    ports:
        - 4001:4001
    environment:
        - basyxaas_registry_path=http://registry:4000/registry/
        - basyxaas_aas_backend=InMemory
        - basyxcontext_contextpath=/aasServer
        - basyxcontext_contextport=4001
        - basyxaas_aas_source=aasx/01_Festo.aasx
        - waiting_for=[{"host":"registry","port":"4000"}]
        - basyxcontext_accesscontrolalloworigin=*

  gui: 
    image: eclipsebasyx/aas-gui:v230201
    container_name: simple-deployment-aasGui 
    ports:
        - 3000:3000
